body{
    background-color: #2f2f2f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
h1{
    color: whitesmoke;
}
#divPoke{
    border-style: solid;
    margin-block: 100px 500px 20px;
    padding-bottom: 100px;
    background-color: #d65e5b;
    max-width: 500px;
    max-height: 500px;
    align-self: center;
    margin: auto;
    text-align:center;
}

#divPoke img{
    background-color: #c75856 ;
    border: 0.76px solid black;
}

#h1Name{
    color: rgb(230, 230, 230);
    text-transform: capitalize;
}

#divPoke h2{
    color: rgb(230, 230, 230);
}
