body{
    background-color: #2f2f2f;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: medium;
    text-align: center;
}
h1{
    color: whitesmoke;
}
#div1{
    
}
#title{
    color: whitesmoke;
    text-align: left;
    max-width: 500px;
}
#searchDiv{
    position: relative;
    margin-top: -50px;
}
#divPoke{
    border-style: solid;
    margin-block: 20px 20px 20px;
    padding: 50px 50px 100px;
    background-color: #ce4e4c;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    display: inline-flex;
    
}

#divPoke img{
    background-color: #c75856 ;
    border: 0px solid whitesmoke;
}

#divPoke h2{
    color: rgb(230, 230, 230);
    font-size: 20px;
}
#h1Name{
    color: rgb(185, 127, 127);
    text-transform: capitalize;
}

input{
    background-color: #2f2f2f;
    color: whitesmoke;
    padding-right: 150px;
    font-size: 20px;
    border: 2px ridge rgb(170, 167, 167);
    margin-bottom: 15px;
}
#nextPage{
    width: 200px;
    height:40px;
    background-color: rgb(146, 64, 64);
    border: 0px solid red;
    color: whitesmoke;
    font-family: 'Segoe UI';
    font-size: 15px;
}
button{
    font-size: 15px;
}
#popup{
    visibility: hidden;
    margin-block: 100px 500px 20px;
    padding-bottom: 100px;
    background-color: #ce4e4c;
    width: 500px;
    align-self: center;
    margin: auto;
    text-align:center;
    top: 53%;
    left: 53%;
    position: fixed;
    transform: translate(-53%,-53%);
    text-transform: capitalize;
}
#popup img{
    width: 40%;
}
